<section class="reservations">
  <div class="res-card">
    <img src="/img/placeholder.jpg" alt="Özel Günleriniz" loading="lazy" />
    <div class="res-text">
      <h3>Özel günlerinizde Ays Restoran hizmetinizde</h3>
      <p>Af ed hi bb ou qur dae c msgby ug emtari hulvt lo yhe hgdn gyh fere xcv oi st un tem pongmk ioflosert ofeg asfd gbv holgr gritms fde tjvhs ijfsv ddsakdj, aud sifgu asd vabsag mt iou e zt aea retribota fiur nuk as nuas pua uz uavud ouapa faos.</p>
      <button>HİZMETLERİMİZ</button>
    </div>
  </div>
  <div class="res-card reverse">
    <div class="res-text">
      <h3>Fethiye'de eğlenceli bir akşam yemeği için Ays Restoran</h3>
      <p>Efadberiou uya asm temertu ef ouge ruhnilek peup jnj mul fda ge purvua tno ohouahn sure pue ijwefh fdd uyav oflk sdy ue nolmg pot oiul obn hg su x paib a uvrum xvmda maby zub v bas dus fu rem. Khyte nit cu jnar ploaf ghvr uries dkmdng uli vu roars ts e urean net c ir asu rts htc on stuy pse de flal.</p>
      <button>REZERVASYON YAPIN</button>
    </div>
    <img src="/img/placeholder.jpg" alt="Eğlenceli Akşam Yemeği" loading="lazy" />
  </div>
</section>
